---
whiskers:
  version: 2.1.0
  matrix:
    - flavor
  filename: "themes/catppuccin-{{ flavor.identifier }}.json"
---

{%- set palette = flavor.colors -%}
{%- if flavor.dark -%}
  {%- set normal_black = palette.surface1 -%}
  {%- set normal_white = palette.subtext0 -%}
  {%- set bright_black = palette.surface2 -%}
  {%- set bright_white = palette.subtext1 -%}
{% else %}
  {%- set normal_black = palette.subtext1 -%}
  {%- set normal_white = palette.surface2 -%}
  {%- set bright_black = palette.subtext0 -%}
  {%- set bright_white = palette.surface1 -%}
{%- endif -%}

{
  "name": "Catppuccin {{ flavor.name }}",
  "comment": "Soothing pastel theme for Tilix",
  "background-color": "#{{ palette.base.hex }}",
  "foreground-color": "#{{ palette.text.hex }}",
  "badge-color": "#{{ palette.surface2.hex }}",
  "bold-color": "#{{ palette.surface2.hex }}",
  "cursor-background-color": "#{{ palette.rosewater.hex }}",
  "cursor-foreground-color": "#{{ palette.base.hex }}",
  "highlight-background-color": "#{{ palette.rosewater.hex }}",
  "highlight-foreground-color": "#{{ palette.base.hex }}",
  "palette": [
    "#{{ normal_black.hex }}",
    "#{{ palette.red.hex }}",
    "#{{ palette.green.hex }}",
    "#{{ palette.yellow.hex }}",
    "#{{ palette.blue.hex }}",
    "#{{ palette.pink.hex }}",
    "#{{ palette.teal.hex }}",
    "#{{ normal_white.hex }}",
    "#{{ bright_black.hex }}",
    "#{{ palette.red.hex }}",
    "#{{ palette.green.hex }}",
    "#{{ palette.yellow.hex }}",
    "#{{ palette.blue.hex }}",
    "#{{ palette.pink.hex }}",
    "#{{ palette.teal.hex }}",
    "#{{ bright_white.hex }}"
  ],
  "use-badge-color": false,
  "use-bold-color": false,
  "use-cursor-color": true,
  "use-highlight-color": true,
  "use-theme-colors": false
}
